<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta charset="UTF-8">
	<title>Cake Manager</title>
</head>
<body>
<div id="cakes">
	<div id="infos">
		<h1>Welcome to the Cake Manager</h1>
	</div>

	<div id="info_Cakes">
		<a href="/cakes">List of Cakes in Json format</a>
		<tr/><tr/><tr/>
	</div>

	<div id="txt">
		<h1> </h1>
	</div>

	<div id="infoOnAddCakes">
		<h2><a href="/cake">Add Cake (Manual User)</a></h2>

		<h3><a href="http://localhost:8181/swagger-ui/index.html#/cake-controller/postCakeUsingPOST">Click Here to add Cakes Using Swagger UI</a></h3>
	</div>

	<div id="cakeData">
		<div id="dataTable">
			<h4>List of Initial Cakes</h4>
			<table>
				<thead>
				<tr>
					<td><b>UUID</b></td>
					<td><b>Title</b></td>
					<td><b>Description</b></td>
					<td><b>Image</b></td>
				</tr>
				</thead>
				<tbody>
				<tr th:each="cake: ${cakes}">
					<td th:text="${cake.id}" />
					<td th:text="${cake.title}" />
					<td th:text="${cake.desc}" />
					<td><img th:src="${cake.image}"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>