<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Cake Manager</title>
</head>
<body>
    <div id="cake_page">
        <div id="info_text">
            <h1>Welcome to the Cake Manager application!</h1>
            <p>My UI design skills suck by the way</p>
        </div>

        <div id="cake_data">
            <div id="cake_table">
                <h3>Table of Cakes</h3>
                <table>
                    <thead>
                        <tr>
                            <td>UUID</td>
                            <td>Title</td>
                            <td>Description</td>
                            <td>Image</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cake: ${cakes}">
                            <td th:text="${cake.id}" />
                            <td th:text="${cake.title}" />
                            <td th:text="${cake.description}" />
                            <td><img th:src="${cake.imageURL}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="cake_json">
                <h3>Cakes in JSON Format</h3>
                <p th:text="${cakes_json}"></p>
            </div>
        </div>
    </div>
</body>
</html>