<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cake Manager</title>
</head>
<body>
<h1>Welcome to the Cake Manager application!</h1>
<h2>My UI design skills suck by the way</h2>

<div>
    <h3>Table of Cakes</h3>
    <table>
        <thead>
        <tr>
            <td>UUID</td>
            <td>Title</td>
            <td>Description</td>
            <td>Image</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>1</td>
        <td>Title 1</td>
        <td>Description 1</td>
        <td>Image 1</td>
            </tr>
        </tbody>
    </table>
    <h3>Cakes in JSON Format</h3>
    <textarea></textarea>
</div>
</body>
</html>