<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Cake Manager Web Application</display-name>

	<servlet>
		<servlet-name>cakes</servlet-name>
		<servlet-class>com.waracle.cakemgr.CakeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>cakes</servlet-name>
		<url-pattern>/cakes</url-pattern>
	</servlet-mapping>
</web-app>

